{% extends 'the_blogs/base.html' %}
{% load bootstrap5 %}


{% block content  %}
 <div class="container-fluid p-3 my-5 bg-dark text-white border" style="border-radius: 14px;">
  <h2 class="text-center"><a href="{% url 'the_blogs:topic' topic.id%}" style="text-decoration: none;">{{ topic }}</a></h2>
  <h2>Add a new article:</h2>
  <form action="{% url 'the_blogs:new_article' topic.id %}" method="POST">
    {%  csrf_token %}
    {% bootstrap_form form %}
    <button name="submit" class="btn btn-light">Publish</button>
  </form>

 </div>
  
{% endblock %}